/** Content
    1.0 Login
    2.0 Registration
    3.0 Daily Bonus
    4.0 MiniGame
    5.0 Media Queries
*/

/** Setup */

a{
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    background-color: #FAC516;
    font-family: 'Roboto', sans-serif;
}

h1{
    color:#5B2EC7;
    margin: 0;
    margin-bottom: 15px;
}

label, input{
    display: block;
}

/** 1.0 Login */
.loginbox{
    width: 15vw;
    background-color: white;
    margin: 0 auto;
    padding:30px;
    opacity: 0.9;
    position: relative;
    top: 22vh;
    height: 44vh;
}

input{
    padding-left: 5%;
    width: 94%;
    border: 2px #5B2EC7 solid;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}
.coindisplay{
    font-size: 30px;
    line-height: 3vw;
}

input[type=submit]{
    cursor: pointer;
}

label{
    color:#5B2EC7;
    font-size: 16px;
    font-weight: bold;
}

button{
    width: 100%;
    height: 40px;
    background-color: #5B2EC7;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.loginbox a{
    width: 100%;
    height: 38px;
    color: #5B2EC7;
    border: 2px solid #5B2EC7;
    display: block;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    text-decoration: none;
}

.loginbox p{
    color:#B1B1B1;
    font-size: 12;
    text-align: center;
}

.login-alert p{
    margin-top: -10px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    font-size: 12px;
}

.welcome{
    width: 100%;
    text-align: center;
    height: 50px;
    color: white;
}

.welcome p{
    line-height: 50px;
    margin: 0;
}

#correct{
    background: #4AC779;
}

/** 2.0 Registration */

.loginbox .register-alert{
    margin-top: -10px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    font-size: 12px;
}

#password-confirm-alert, #username-alert{
    display: none;
}

/** 3.0 Daily Bonus */

/* Popup Styles*/
#modal{
    width: 60vw;
    height: auto;
}

.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}

.popupHeader {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    font-weight: bold;
}

.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #D63C3C;
    cursor: pointer;
    color: #F4F4F2;
    font-size: 16px;
}

.popupBody {
	padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    background: #F4F4F2;
}

.popupFooter {
	padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: #F4F4F2;
}

.popupFooter p, .header_title{
   color: #5B2EC7; 
}


.serie{
    padding: 0;
    margin:0;
    margin-right: 5px;
    background-color:#5B2EC7;
    height: 10vw;  
    width: 10vw;
    cursor: pointer;
    background-size: cover;
    text-align: center;
    color: #F4F4F2;
}

.serie.display p{
    text-decoration: none;
}

.coins{
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin-top:20px;
}

.coins.text{
    margin: 0;
}

.tag{
    margin: 0;
    margin-top: 10px;
}

.flexText{
    display: flex;
    flex-direction: row;
}
#countdown{
    padding-left: 2px;
    padding-right: 2px;
}

/** 4.0 Minigame */
.overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: rgba(0,0,0,0.7);
}

#black{
    background-color: black;
}

#red{
    background-color: red;
}

.minigame-button{
    padding: 20px;
    text-align: center;
    color:white;
    width: 10vw;
    border: none;
    border-radius: 0;
    margin: 0;
    line-height: 0;
}

.minigame.container{
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-around;
}

/** 5.0 Media Queries */

@media only screen and (max-width: 600px) {
    body{
        overflow: hidden;
    }
    .loginbox {
        width: 80vw;
        padding: 30px;
        top: 9vh;
        height: auto;
    }
    input, button{
        height: 50px;
        font-size: 1.6rem;
    }
    h1{
        font-size:2.5rem;
    }
    .header_title{
        font-size:2.5rem;
    }
    label{
        font-size: 1rem;
        padding-bottom: 10px;
    }
    #username-alert, #password-confirm-alert{
        font-size: 1rem;
    }
    .loginbox a {
        height: 50px;
        line-height: 50px;
        font-size: 1.6rem;
    }
    #modal{
        width: 100%;
        left: 0;
        margin-left:0;
    }
    .popupFooter p{
        font-size: 1rem;
    }
    .popupFooter {
        flex-direction: column;
    }
    .serie{
        height: 18vw;
        width: 18vw;
    }
    .serie.display{
        height: 30vw;
        width: 100vw;
    }
    .serie.display p{
        margin:0;
        text-decoration: none;
    }
    .serie.display .coindisplay{
        padding-top: 30px;
    }
    .coins,.tag{
        margin-top: 2px;
        font-size: 20px;
    }
    .minigame-button {
        width: 40vw;
    }
    .minigame.container{
        width: 100vw;
    }

    
}